
<div class="upmenu">

  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">View Product</li>
      </ol>
    </div>
    <div class="col-sm-6">
            
  
            
    </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
          <button type="button" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-primary" routerLink="/edit-product">Edit</button>
      </div>
      <div class="col-sm-6">
      </div>
  </div>

</div>


<br/>


<div class="content">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="./app/images/cart.png" style="width:100px; height:100px;"/>
                </div>
                <div class="col-sm-8">
                    <h2>{{productname}}</h2>
                    <p> {{productid}}</p>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">General Information</a></li>
                        <li><a data-toggle="tab" href="#menu1">Inventry</a></li>
                        <li><a data-toggle="tab" href="#menu2">Sales</a></li>
                        <li><a data-toggle="tab" href="#menu3">Account</a></li>
                    </ul>

                    <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td><b>Product Type</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{producttype}}</td>
                                </tr>
                                <tr>
                                    <td><b>Internal Referance</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{internalreferance}}</td>
                                </tr>
                                <tr>
                                    <td><b>Barcode</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{barcode}}</td>
                                </tr>
                                <tr>
                                    <td><b>Inventory Policy</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{inventorypolicy}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td><b>Selling Price</b></td>
                                    <td style="padding:15px 15px 15px 15px;">Rs : {{sellingprice}}</td>
                                </tr>
                                <tr>
                                    <td><b>Cost</b></td>
                                    <td style="padding:15px 15px 15px 15px;">Rs : {{cost}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td><b>Available Quentity</b></td>
                                    <td style="padding:15px 15px 15px 15px;">750</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td><b>Reorder Level</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{reorderlevel}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <h3>Locations</h3>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Store Id</th>
                                    <th>Location</th>
                                    <th>Available Quentity</th>
                                    <th>Maximum Quentity</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>75A55as</td>
                                    <td>Colombo</td>
                                    <td>500</td>
                                    <td>750</td>
                                </tr>
                                <tr>
                                    <td>75A55as</td>
                                    <td>Colombo</td>
                                    <td>500</td>
                                    <td>750</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <h3>Vendors</h3>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Vender ID</th>
                                    <th>Vender Name</th>
                                    <th>Outstanding Amount</th>
                                    <th>Rank</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>25</td>
                                    <td>Jhone Keels</td>
                                    <td>Rs : 25000</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Jhone Keels</td>
                                    <td>Rs : 25000</td>
                                    <td>5</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="col-sm-6">
                            <h3>Sales Condition</h3>
                            <table>
                                <tr>
                                    <td><b>Warrenty</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{warrenty}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <div class="col-sm-6">
                            <h3>Tax Detail</h3>
                            <table>
                                <tr>
                                    <td><b>Value Added Tax (VAT)</b></td>
                                    <td style="padding:15px 15px 15px 15px;">{{vat}}%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

