
<div class="upmenu">

  <div class="row">
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Add product</li>
      </ol>
    </div>
    <div class="col-sm-6">
            
  
            
    </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
          <button type="button" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-primary">Edit</button>
      </div>
      <div class="col-sm-6">
      </div>
  </div>

</div>


<br/>



<div class="content">
    <div class="panel panel-default">
        
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="./app/images/cart.png" style="width:100px; height:100px;"/>
                </div>
                <div class="col-sm-8">
                    <h2>Samsung Galaxy Note 2</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">General Information</a></li>
                        <li><a data-toggle="tab" href="#menu1">Inventry</a></li>
                        <li><a data-toggle="tab" href="#menu2">Sales</a></li>
                        <li><a data-toggle="tab" href="#menu2">Account</a></li>
                    </ul>

                    <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <td><b>Product Type</b></td>
                                    <td style="padding:15px 15px 15px 15px;">Mobile Phones</td>
                                </tr>
                                <tr>
                                    <td><b>Internal Referance</b></td>
                                    <td style="padding:15px 15px 15px 15px;">MO-25325</td>
                                </tr>
                                <tr>
                                    <td><b>Barcode</b></td>
                                    <td style="padding:15px 15px 15px 15px;">4546546-6546546-555</td>
                                </tr>
                                <tr>
                                    <td><b>Inventory Policy</b></td>
                                    <td style="padding:15px 15px 15px 15px;">Delivering</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>